{% extends "base.html" %}

{% block title %}
Home
{% endblock title %}


{% block body %}
<section id="about" class="py-5 bg-light">
    <div class="container">
        <h2>Welcome to VM Ice Creames</h2>
        <p>
            <span style="font-family: 'Arial', sans-serif; font-size: 18px; font-weight: bold; color: #333333;">Indulge in a Symphony of Flavors at</span>
            <span style="font-family: 'Georgia', serif; font-size: 24px; font-style: italic; color: #FF6600;">VM Ice Creams</span>
        </p>
        <p>
            <span style="font-family: 'Arial', sans-serif; font-size: 16px; color: #555555;">At VM Ice Creams, we craft frozen delights that are a symphony of taste and texture. Step into a world of pure bliss where each scoop is a masterpiece, meticulously created to delight your senses.</span>
        </p>
        <p>
            <span style="font-family: 'Arial', sans-serif; font-size: 16px; color: #555555;">Our artisans blend the finest ingredients, infusing creativity and passion into every batch. From classic favorites to inventive creations, every bite is a journey through a palate of flavors.</span>
        </p>
        <p>
            <span style="font-family: 'Arial', sans-serif; font-size: 16px; color: #555555;">Experience the magic of VM Ice Creams – where every moment is an opportunity to savor life's sweetest pleasures. Discover a world of delectable memories waiting to be created.</span>
        </p>
        
    </div>
</section>{% endblock body %}
