{% extends "basen.html" %}

{% block title %}
Home
{% endblock title %}


{% block body %}
<section id="about" class="py-5 bg-light">
    <div class="container">
        <h2>Welcome to our Django website...</h2>
        <p>
            <span style="font-family: 'Georgia', serif; font-size: 24px; font-style: italic; color: #333333;"> we offer upload data page , to upload the data to Postgress Db </span>

        </p>

        <p>
            <span style="font-family: 'Georgia', serif; font-size: 24px; font-style: italic; color: #333333;">Secondly we offer query builder page to query the db and get the record count</span>
        </p>

        <p>
            <span style="font-family: 'Georgia', serif; font-size: 24px; font-style: italic; color: #333333;">Lastly a user can Add other users which can be authenticate user for the website. Also all the users of the website can be listed on the website.</span>
        </p>

        
    </div>
</section>

{% endblock body %}